@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Comfortaa&family=Delicious+Handrawn&family=Poppins:wght@300&family=Varela+Round&display=swap");
* {
  font-family: "Aboreto", cursive;
  background: rgb(5, 5, 5);
  color: white;
}
