@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Comfortaa&family=Delicious+Handrawn&family=Poppins:wght@300&family=Varela+Round&display=swap");
* {
  font-family: "Aboreto", cursive;
  background-image: radial-gradient(circle, #e9eaec, #e0e3e5, #d8dcde, #cfd5d7, #c6cecf);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
